header {
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: black 1px 3px 1px 4px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    font-size: 1.3rem;
    color: var(--primary);
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav a {
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--primary);
}
