section {
    padding: 4rem 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

section h2 {
    text-align: center;
}

.hero {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    padding: 5rem 2rem;
    text-align: center;
    border-radius: 100px;
}

.hero:hover{
    transition: all ease 3s;
    box-shadow: #1e293b 30px 20px;
    border-radius: 20px;
}

.content {
    max-width: 700px;
    margin: 0 auto;
}

.hero h1, .hero p {
    color: white;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.why {
    background: var(--light);
}

.courses {
    background: white;
}

.how {
    background: var(--light);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}
